@charset "UTF-8";
/**
 * Global constants
 */
/**
 * Colors
 */
/**
 * Mixins
 */
/**
 * Media queries
 */
/**
 * Typography
 */
@media (max-width: 480px) {
  html {
    font-size: 8.5px; } }

@media (min-width: 768px) {
  html {
    font-size: 9px; } }

@media (min-width: 992px) {
  html {
    font-size: 9.5px; } }

@media (min-width: 1200px) {
  html {
    font-size: 10px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  body {
    -webkit-font-smoothing: antialiased; } }

::-moz-selection {
  background: #477a32;
  color: #fff; }

::selection {
  background:#477a32;
  color: #fff; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  height: 100%;
  position: relative; }

html, body {
  padding: 0;
  margin: 0;
  max-width: 100%; }

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: .25px;
  text-rendering: optimizeLegibility;
  background: #F2F2F2;
  position: relative; }
  body.glimpse-is-lato-font-loaded {
    font-family: Lato, Arial, sans-serif; }

a {
  color: #3399FF;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    outline: 0.2rem solid #3399FF;
    outline-offset: .2rem; }

ul {
  margin-bottom: 0;
}

abbr {
  border-bottom: 1px dotted #666666;
  text-decoration: none; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.glimpse-container {
  width: 100%;
  max-width: 1280px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: auto;
  margin-right: auto; }
  .glimpse-container--full-bleed {
    padding-left: 0;
    padding-right: 0; }

h1,
h2,
h3,
p {
  margin: 0; }

.glimpse-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: #333333;
  display: inline-block;
  fill: currentColor; }
  .glimpse-icon > svg,
  .glimpse-icon > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    fill: inherit; }
    .glimpse-icon > svg > use,
    .glimpse-icon > img > use {
      fill: inherit; }
  .glimpse-icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }

.glimpse-callout-button {
  display: inline-block;
  border: 0.1rem solid #FAB631;
  font-weight: 500;
  color: #333333;
  font-size: 2rem;
  padding: 1rem 2.9rem 1.4rem;
  text-align: center; }
  .glimpse-callout-button:hover, .glimpse-callout-button:focus {
    text-decoration: none;
    color: #333333;
    background: rgba(250, 182, 49, 0.1); }
  .glimpse-callout-button:focus {
    outline: none;
    box-shadow: 0.4rem 0.4rem 0 0 rgba(51, 51, 51, 0.075); }
  .glimpse-callout-button--highlight {
    background: #477a32;
    border: none; }
    .glimpse-callout-button--highlight:hover, .glimpse-callout-button--highlight:focus {
      background: #F9C659; }

.glimpse-input {
  height: 4.9rem;
  border: .1rem solid;
  border-color: #FAB631;
  outline: 0 solid #FAB631;
  width: 100%;
  font-size: 2rem;
  color: #333333;
  padding: 0 1.2rem;
  border-radius: 0; }
  .glimpse-input:hover, .glimpse-input:active, .glimpse-input:focus {
    background: #FFF8EA; }
  .glimpse-input:focus {
    outline-width: .1rem;
    box-shadow: 0.4rem 0.4rem 0 0 rgba(51, 51, 51, 0.075); }
  .glimpse-input.is-error {
    border-color: #FF1D25;
    outline-color: #FF1D25;
    fill: #FF1D25; }

.glimpse-input-with-icon {
  border-color: #FAB631;
  outline-color: #FAB631;
  fill: #FAB631; }
  .glimpse-input-with-icon__icon {
    position: relative;
    fill: inherit;
    display: block; }
    .glimpse-input-with-icon__icon .glimpse-icon {
      position: absolute;
      top: 1.3rem;
      left: 1.3rem;
      width: 2.4rem;
      height: 2.4rem;
      fill: inherit; }
  .glimpse-input-with-icon__input {
    border-color: inherit;
    outline-color: inherit;
    padding-left: 5rem; }
  .glimpse-input-with-icon.is-error {
    border-color: #FF1D25;
    outline-color: #FF1D25;
    fill: #FF1D25; }

.glimpse-textarea {
  display: inline-block;
  width: 100%;
  font-size: 0; }
  .glimpse-textarea textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    min-height: inherit;
    padding-top: 1rem; }

/**
 * bootstrap navbar
 */
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " "; }

.glimpse-container:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

.collapse.in .navbar-nav {
  padding-left: 0;
  padding-right: .7rem; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px; } }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-collapse.in {
  overflow-y: auto; }

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px; } }

    .glimpse-container > .navbar-header {
      color: #fff;
      margin-top: 1.4rem;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

.glimpse-container > .navbar-header,
.glimpse-container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .glimpse-container > .navbar-header,
  .glimpse-container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  display: none;
  float: left;
  height: 50px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 4px;
  margin-left: 10px; }

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none; }

.navbar-brand > img {
  display: block; }

@media (min-width: 768px) {
  .navbar > .glimpse-container .navbar-brand {
    margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.navbar-toggle:focus {
  outline: 0; }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; } }

.navbar-nav {
  margin: 7.5px -15px; }
  .navbar-nav::before {
    display: table;
    content: " "; }

.navbar-nav > li > a,
.navbar-nav > li > .glimpse-callout-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 20px;
  font-size: 1.2rem; }

.navbar-nav > li > .glimpse-callout-button {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  font-weight: 700; }

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0; }
  .navbar-nav > li {
    float: left; }
  .navbar-nav > li > a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .navbar-nav > li > .glimpse-callout-button {
    padding-top: .6rem;
    padding-bottom: .6rem; } }

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px; }

.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px; }

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; } }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }

.navbar-default .navbar-brand {
  color: #777; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #777; }

.navbar-inverse {
  background-color: #222;
  border-color: #080808; }

.navbar-inverse .navbar-brand {
  color: #9d9d9d; }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-inverse .navbar-text {
  color: #9d9d9d; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808; }

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent; }

.navbar-inverse .navbar-toggle {
  border-color: #333; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-inverse .navbar-collapse {
  border-color: #101010; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808; }

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent; } }

.navbar-inverse .navbar-link {
  color: #9d9d9d; }

.navbar-inverse .navbar-link:hover {
  color: #fff; }

.navbar-inverse .btn-link {
  color: #9d9d9d; }

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff; }

.navbar-inverse .btn-link[disabled]:hover,
.navbar-inverse .btn-link[disabled]:focus {
  color: #444; }

/*----- Nav -----*/
.navbar-fixed-container {
  background-color: #373277; }

.navbar {
  font-size: 12px;
  border-radius: 0; }

.navbar.glimpse-navbar {
  min-height: initial; }
  .navbar.glimpse-navbar .glimpse-container {
    position: relative;
    padding-left: 1rem;
    padding-right: 0.7rem; }

.navbar .navbar-brand {
  position: absolute;
  left: .5rem;
  top: -.2rem;
  background-image: url("/project-cascade/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center 50%;
  padding-left: 113px;
  letter-spacing: -0.04rem;
  color: #333333;
  min-height: 50px;
  padding-top: 15px;
  line-height: 20px; }
  .navbar .navbar-brand:focus {
    outline: none; }
  @media (max-width: 321px) {
    .navbar .navbar-brand {
      font-size: 15px;
      padding-left: 110px;
      margin-left: .2rem; } }

.navbar-inverse.navbar-fixed-top {
  background-color: #373277; color: #fff;
  border: none;
  margin-bottom: 0;
  transition: transform 0.2s ease-out; }
  .navbar-inverse.navbar-fixed-top::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
    transition: all .2s ease-out; }
  .navbar-inverse.navbar-fixed-top.headroom--not-top::before {
    opacity: 1; }
  .navbar-inverse.navbar-fixed-top.headroom--unpinned {
    transform: translateY(-100%); }
    .navbar-inverse.navbar-fixed-top.headroom--unpinned::before {
      opacity: 0; }

.navbar-inverse.home {
  width: 100%; }

.navbar-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none; }
  .navbar-nav > li.is-highlight {
    color: #333333;
    background: #FAB631;
    font-weight: 600; }
    .navbar-nav > li.is-highlight:hover {
      opacity: .95; }
    .navbar-nav > li.is-highlight:active {
      opacity: .85; }
  .navbar-nav > li > a {
    display: inline-block;
    padding: .6rem 1rem; }

.navbar li > a {
  cursor: pointer;
  position: relative; }

.navbar-left li > a {
  opacity: 0.6;
  transition: opacity 0.08s ease-in; }
  @media screen and (-ms-high-contrast: active) {
    .navbar-left li > a {
      opacity: 1; } }

.navbar-left li > a:hover {
  opacity: 1; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  opacity: 1;
  background: none;
  text-decoration: none; }

.navbar-inverse .navbar-nav > li {
  margin-left: 2rem; }
  .navbar-inverse .navbar-nav > li > a {
    color: #fff; font-size: 14px; }
    .navbar-inverse .navbar-nav > li > a.glimpse-callout-button {
      color: #fff; }
      .navbar-inverse .navbar-nav > li > a.glimpse-callout-button:hover, .navbar-inverse .navbar-nav > li > a.glimpse-callout-button:active, .navbar-inverse .navbar-nav > li > a.glimpse-callout-button:focus {
        color: #333333; }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active, .navbar-inverse .navbar-nav > li > a:focus {
      color: #fff; }
  .navbar-inverse .navbar-nav > li.active a, .navbar-inverse .navbar-nav > li.active a:hover, .navbar-inverse .navbar-nav > li.active a:active, .navbar-inverse .navbar-nav > li.active a:focus {
    color: #fff;
    cursor: default; }
    .navbar-inverse .navbar-nav > li.active a::after, .navbar-inverse .navbar-nav > li.active a:hover::after, .navbar-inverse .navbar-nav > li.active a:active::after, .navbar-inverse .navbar-nav > li.active a:focus::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1rem;
      height: .3rem;
      width: calc(100% - 1.7rem);
      background: #373277; }
    @media all and (max-width: 768px) {
      .navbar-inverse .navbar-nav > li.active a::after, .navbar-inverse .navbar-nav > li.active a:hover::after, .navbar-inverse .navbar-nav > li.active a:active::after, .navbar-inverse .navbar-nav > li.active a:focus::after {
        bottom: .2rem;
        height: .2rem; } }

.navbar .navbar-right {
  margin-right: 0; }

.navbar .navbar-right .link-button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 100%;
  padding: 17px 20px;
  background: none;
  padding: 0 !important; }
  @media (min-width: 992px) {
    .navbar .navbar-right .link-button {
      padding-left: 40px; }
      .navbar .navbar-right .link-button img {
        display: block;
        position: absolute;
        left: 15px; } }

.navbar-collapse {
  border: none;
  margin-left: -0.7rem; }
  @media all and (max-width: 767px) {
    .navbar-collapse {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); } }

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  border: none; }

.navbar-inverse .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.6); }

.navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.navbar-inverse .navbar-toggle .icon-bar {
  background: #333333; }

@media (max-width: 480px) {
  .navbar.home > .glimpse-container {
    background-color: rgba(0, 0, 0, 0.3); }
  .navbar-inverse .navbar-nav > li > a {
    opacity: 1; } }

@media (min-width: 768px) {
  .navbar .navbar-right {
    display: block; } }

.glimpse-footer {
  background: #373277;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  font-size: 1.6rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  @media all and (max-width: 992px) {
    .glimpse-footer {
      padding: 2rem 3rem;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; } }
  @media all and (max-width: 420px) {
    .glimpse-footer {
      padding: 1.5rem 2rem; } }
  .glimpse-footer__twitter, .glimpse-footer__menu, .glimpse-footer__experiment {
    margin: 1rem 0; }
  .glimpse-footer__twitter, .glimpse-footer__experiment {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .glimpse-footer__menu {
    list-style: none;
    padding: 0;
    -ms-flex-positive: 0;
        flex-grow: 0; }
    .glimpse-footer__menu > .glimpse-footer__menu-item {
      display: inline-block; }
      .glimpse-footer__menu > .glimpse-footer__menu-item:not(:first-child) {
        margin-left: 1rem; }
      @media all and (max-width: 341px) {
        .glimpse-footer__menu > .glimpse-footer__menu-item {
          font-size: 1.4rem; } }
    .glimpse-footer__menu a {
      color: inherit; }
  .glimpse-footer__experiment {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center; }
    @media all and (max-width: 992px) {
      .glimpse-footer__experiment {
        margin-top: 2.5rem;
        font-size: 1.4rem; } }
    .glimpse-footer__experiment-logo {
      width: 10rem;
      margin-left: 1rem;
      margin-top: .2rem; }

.code__wrapper {
  position: relative; }
  .code__wrapper:hover .code__copy {
    display: block; }

.code__copy {
  display: none;
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  right: 0;
  top: 0;
  background-color: #B3B3B3;
  padding: 0.25rem 0.75rem 0.5rem; }
  .code__copy:hover {
    text-decoration: underline; }

.code__textarea {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: none;
  background: transparent; }

.glimpse-screenshot {
  position: relative;
  overflow: hidden; }
  .glimpse-screenshot__body {
    overflow: hidden;
    padding: 2px;
    padding-top: 0;
    box-sizing: border-box; }
  .glimpse-screenshot img {
    float: left;
    width: 100%;
    max-width: 100%; }
  .glimpse-screenshot__tab {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: #444; }
    .glimpse-screenshot__tab-title {
      background-image: url(/project-cascade/img/favicon/favicon.svg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      padding-left: 20px; }
  .glimpse-screenshot__tabs {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start; }
  body:not(.os-windows) .glimpse-screenshot {
    border-radius: 3px; }
    body:not(.os-windows) .glimpse-screenshot img {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    body:not(.os-windows) .glimpse-screenshot__tabs {
      background-image: linear-gradient(to bottom, #EEEEEE, #D4D4D4); }
    body:not(.os-windows) .glimpse-screenshot__body {
      background: #D4D4D4; }
    body:not(.os-windows) .glimpse-screenshot__tab {
      padding: 4px 0;
      margin: 4px 5px 0 0;
      border: 1px solid transparent;
      border-bottom: none;
      border-top-color: #E0E0E0;
      z-index: 0; }
      body:not(.os-windows) .glimpse-screenshot__tab:before, body:not(.os-windows) .glimpse-screenshot__tab:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        border: 1px solid #E0E0E0;
        border-bottom: none;
        top: -1px; }
      body:not(.os-windows) .glimpse-screenshot__tab:before {
        left: -5px;
        transform-origin: top left;
        transform: skewX(-20deg);
        border-left-color: #E0E0E0;
        border-right-width: 0; }
      body:not(.os-windows) .glimpse-screenshot__tab:after {
        right: -5px;
        transform-origin: top right;
        transform: skewX(20deg);
        border-right-color: #E0E0E0;
        border-left-width: 0; }
      body:not(.os-windows) .glimpse-screenshot__tab--active {
        border-top-color: #E0E0E0;
        z-index: 1; }
        body:not(.os-windows) .glimpse-screenshot__tab--active, body:not(.os-windows) .glimpse-screenshot__tab--active:before, body:not(.os-windows) .glimpse-screenshot__tab--active:after {
          background-color: #F6F6F6; }
        body:not(.os-windows) .glimpse-screenshot__tab--active > .glimpse-screenshot__tab-title:after {
          content: '×';
          margin-left: 4px;
          position: relative;
          top: .5px;
          color: #BCBCBC; }
      body:not(.os-windows) .glimpse-screenshot__tab + .glimpse-screenshot__tab {
        margin-left: 10px; }
    body:not(.os-windows) .glimpse-screenshot__buttons {
      -ms-flex-order: -1;
          order: -1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: center;
          align-items: center;
      margin: 0 10px; }
    body:not(.os-windows) .glimpse-screenshot__button {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin: 0 5px 0 0;
      position: relative; }
      body:not(.os-windows) .glimpse-screenshot__button--close {
        background-color: #FC615D; }
      body:not(.os-windows) .glimpse-screenshot__button--min {
        background-color: #FEC041; }
      body:not(.os-windows) .glimpse-screenshot__button--max {
        background-color: #35CC4B; }
  .os-windows .glimpse-screenshot__tabs {
    background-color: #E0E0E0;
    height: 35px; }
  .os-windows .glimpse-screenshot__body {
    background: #E0E0E0; }
  .os-windows .glimpse-screenshot__tab {
    height: 33px;
    padding: 5px 15px;
    line-height: 20px;
    position: relative;
    width: 141px;
    margin-top: 2px;
    margin-left: 2px; }
    .os-windows .glimpse-screenshot__tab--active {
      background-color: #F1F1F1; }
      .os-windows .glimpse-screenshot__tab--active:after {
        content: '✕';
        position: absolute;
        right: 7px;
        color: #C6C6C6; }
    .os-windows .glimpse-screenshot__tab + .glimpse-screenshot__tab:before {
      content: '+';
      left: 100%;
      font-size: 21px;
      line-height: 20px;
      display: inline-block;
      position: absolute;
      margin-left: 12px;
      color: #666; }
  .os-windows .glimpse-screenshot__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    margin: 0;
    margin-left: auto; }
  .os-windows .glimpse-screenshot__button {
    height: 15px;
    width: 15px;
    margin: -0.5px 15px 0 0;
    position: relative;
    line-height: 15px;
    text-align: center;
    font-size: 15px;
    cursor: pointer; }
    .os-windows .glimpse-screenshot__button--close:before {
      content: '✕'; }
    .os-windows .glimpse-screenshot__button--min:before {
      content: '—'; }
    .os-windows .glimpse-screenshot__button--max {
      height: 10px;
      width: 10px;
      border: 1px solid #666; }
    .os-windows .glimpse-screenshot__button:hover {
      opacity: .5; }
