.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.hero__title {
  color: #373277;  
  font-size: 4rem;
  width: 700px;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 6rem;
  text-align: center;
}

.hero__image {
  margin: 2rem 0;
  width: 900px;
}

.hero__subtitle {
  color: #373277;
  font-size: 18px;
}

.hero__disclaimer {
  font-size: 14px;
  margin: 20px 0 30px 0;
}

  .hero__disclaimer a {
    text-decoration: underline;
  }

.hero__registration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero__registration-button {
  background-color: #477a32;
  color: #fff;
  display: flex;    
  font-weight: bold;
  font-size: 1.5rem;    
  margin: 2rem 1rem 0;    
  padding: 1rem 2rem;
  text-decoration: none;
  align-items: center;
}

.hero__registration-button__icon {
  fill: #fff;
  height: 30px;
  margin-right: 2rem;  
  width: 30px;
}

.value-prop {
  padding: 40px;
}

  .value-prop:nth-child(odd) {
    background-color: #fff;
  }

  .value-prop:nth-child(even) {
    background-color: #f2f2f2;
  }

.value-prop__content {
  align-items: center; 
  display: flex;
  margin: 0 auto;
  max-width: 1224px; 
  justify-content: space-between;
  width: 100%;  
}

.value-prop__description,
.value-prop__image {
  max-width: 48%;
}
    
  .value-prop__description h3 {
    color: #373277;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .value-prop__description p {
    line-height: 30px;
  }

  .value-prop__description em {
    color: #373277;
    font-style: normal;    
    font-weight: bold;
  }

.value-prop--left .value-prop__image {
  margin-right: 10px;
}

.value-prop__detail {
  background-color: #373277;  
  color: #fff;
  font-size:14px;
  line-height: 30px;
  margin: 30px 20px 0 0;
  padding: 10px;  
}

.value-prop__detail a {
  color: #fff;
  text-decoration: underline;
}

#success {
  background-color: #373277;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 2rem;
  display: none; }
  body[data-authorized="true"] #success {
    display: block; }
    body[data-authorized="true"] #success + .glimpse-header-section__buttons {
      display: none;
}
