.main {
  margin-top: 52px;
  min-height: calc(100vh - 83px - 52px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__inner {
  padding: 20px;
  background-color: #373277;
  width: 500px;
  height: 500px;
  color: #fff;
  text-align: center;
}

  .main__inner__link {
    background-color: #477a32;
    color: #fff;    
    display: block;
    padding: 10px;
  }

  .main__inner__avatar {
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    margin-top: 10px;
  }

    .main h1 {
      font-size: 25px;
      font-weight: bold;
      line-height: 40px;
      margin-top: 20px;
    }
    
.cascade-hidden-block {
  display: none; }

.cascade-spinner {
  width: 75px;
  height: 75px;
  background-color: #fff;
  display: none;
  margin: 80px auto 0 auto;
  animation: cascade-spinner-keyframes 1.2s infinite ease-in-out;
}

.cascade-owner-offline-block,
.cascade-open-cascade-block,
.cascade-install-cascade-block {
  animation: cascade-fade-in .5s ease-in-out both; }

.cascade-join-blocks.is-owner-offline .cascade-owner-offline-block {
  display: block; }

.cascade-join-blocks.is-open-cascade .cascade-open-cascade-block {
  display: block; }

.cascade-join-blocks.is-install-cascade .cascade-install-cascade-block {
  display: block; }

.cascade-join-blocks.is-spinner .cascade-spinner {
  display: block; }

.cascade-install-cascade-block {
  line-height: 30px;
  margin-top: 20px;
}

  .cascade-install-cascade-block__heading {
    font-size: 14px;
    padding: 2px;
  }

  .cascade-install-cascade-block__install-button {
    background-color: #fff;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  } 

  .cascade-install-cascade-block__install-button img {
    height: 50px;
    width: 50px;
  }

  .cascade-install-cascade-block__install-button img:nth-child(1) {
    margin-right: 10px;
  }

  .cascade-open-cascade-block {
    margin-top: 50px;
    padding: 10px;
    line-height: 30px;
  }

.cascade-open-cascade-block__disclaimer {
  font-size: 12px;
  margin-top: 20px;
}

@keyframes cascade-spinner-keyframes {
  0% {
    transform: perspective(175px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(175px) rotateX(0deg) rotateY(0deg);
    background-color: #fff; }
  50% {
    transform: perspective(175px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(175px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #477a32; }
  100% {
    transform: perspective(175px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(175px) rotateX(-180deg) rotateY(-179.9deg);
    background-color: #fff; } }

@keyframes cascade-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
